body {
    margin: 0;
    padding: 0;
    background-color: #18224b;
}

.header {
    background-color: azure;
    color: #de1b4a;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0px;
    border-bottom: 2px solid #de1b4a;
    font-weight: bold;
}


ul {
    list-style: none;
    font-size: x-large;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
}

.content1 {
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left1 {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 120px;
    flex: 0 1 auto;
}



.right1 {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #de1b4a;
    color: #de1b4a;
    font-size: xx-large;
    margin: 120px;
    flex: 1 auto;
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #de1b4a;
}

.text1 {
    color: azure;
}

.button1 {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 25px;
    color: #de1b4a;
    background-color: azure;
    border: 1px solid #de1b4a;
    font-weight: bold;
}

.information {
    height: 500px;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 2px #de1b4a;
    border-bottom: solid 2px #de1b4a;
}

.information .title1 {
    margin: 32px 32px 0px 32px;
}

.container {
    display: flex;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.cards {
    max-width: 270px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

}

.card {
    width: 150px;
    height: 150px;
    border: 2px solid #de1b4a;
    border-radius: 25px;
    background-color: #18224b;
}

.text {
    color: #18224b;
}

.quote-container {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 70%;
    display: flex;
    flex-direction: column;
    color: azure;
}

.textq {
    font-size: 36px;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-size: 26px;
    padding-right: 120px;
    font-weight: bold;
}

.call-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    background-color: #de1b4a;
    flex: 1 auto;
    margin: 64px;
    padding: 60px 16px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callt {
    font-size: 24px;
    font-weight: bold;
    color: #18224b;
}

.call .button1 {
    margin-right: 64px;
}

.footer {
    background-color: azure;
    height: 71px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #de1b4a;
    font-weight: bold;
    border-top: 2px solid #de1b4a;
}

